:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;
    --raleway-font: 'Raleway', sans-serif;
    --open-sans-font: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--color-light-gray);
}
.container {
    width: 1352px;
    height: 100%;
}
header {
    background-color: var(--color-white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner {
    height: 68px;
    position: absolute;
    top: 0;
}
.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-logo {
    color: var(--color-primary);
    font-size: 37px;
    font-family: var(--raleway-font);
}
nav, .banner-nav, .banner-nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;

}
.banner-nav {
    flex-direction: row;
    color: var(--color-gray)
}
.banner-nav-content {
    margin-left: 95px;
    z-index: 1;
}
.banner-nav-content:hover {
    border-bottom: 3px solid var(--color-primary);
    cursor: pointer;
    color: var(--color-black);
}
.banner-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    border-bottom: 3px solid var(--color-light-gray);
    box-shadow: 0 0 8px;
    opacity: 0.5;
}
.header-main-content {
    width: 100%;
    height: 100%;
    background-color: red;
}
.header-main-content .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.banner-main {
    text-align: center;
}
h1, h2 {
    font-size: 57px;
    color: var(--color-black);
    font-family: var(--raleway-font);
    margin-bottom: 20px;
}
.banner-main-content p {
    margin-bottom: 82px;

}
.banner-main-content {
    font-size: 22px;
    font-family: var(--open-sans-font);
}
.banner-main-content a {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 22px 157px;
    border-radius: 50px;
}
.empty {
    height: 700px;
    width: 100%;
}
.header-image {
    width: 100%;
    height: 100%;
}
/*finished banner */
.statistics {
    margin-top: -100px;
    background-color: var(--color-white);
}
.statistics, .statistics-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.statistics-content {
    justify-content: space-around;
}
h2 {
    margin-bottom: 100px;
    font-size: 42px;
}
.circle {
    width: 63px;
    height: 63px;
    background: var(--color-redish);
    border-radius: 50%;
}
.entries, .products, .posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.entries-image, .products-image, .posts-image {
    width: 44px;
    height: 52px;
    margin-left: 30px;
    margin-top: 3px;
}
.products-image{
    width: 65px;
    height: 35px;
    margin: 25%;
}
.posts-image {
    width: 52px;
    height: 48px;
    margin-top: 10%;
}
.entries-picture, .products-picture, .posts-picture {
    width: 100%;
    height: 100%;
}
.entries p, .products p, .posts p{
    font-family: var(--raleway-font);
    font-size: 24px;
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    margin-left: 15px;
}
.entries span, .products span, .posts span{
    font-family: var(--raleway-font);
    font-size: 20px;
    color: var(--color-gray);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 150px;
}
.blue-circle {
    background: var(--color-primary);
}
.green-circle {
    background: var(--color-green);
}