@use "sass:color";

$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-gray: #A5A5A5;
$color-light-gray: #F7F7F7;
$color-white: #FFFFFF;
$raleway-font: 'Raleway', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;