

main {
  margin: 0 30px;
}

.first-benefit, .second-benefit, .third-benefit {
  background-color: $color-white;
  margin: 15px auto;
}

.left-side-first, .right-side-second, .left-side-third {
  h2 {
    font-family: $raleway-font;
    font-size: 30px;
    margin-bottom: 20px;
  }
  p{
    font-family: $open-sans-font;
    font-size: 14px;
  }
}

@media (max-width: $mobile) {
  .first-benefit, .second-benefit, .third-benefit {
    height: 370px;
  }
  .first-benefit {
    display: flex;
    flex-direction: column;
    .left-side-first {
      order: 2;
      h2 {
        margin-top: 60px;
      }
      p {
        line-height: 20px;
        margin-top: 60px;
      }
    }

    .right-side-first {
      order: 1;
      .first-benefit-square{
        margin-left: 130px;
        width: 100px;
        height: 100px;
        background-color: $color-redish;
        position: relative;
        border-radius: 40px;
        transform: rotate(135deg);
        .right-side-first-image {
          width: 200px;
          height: 100px;
          transform: rotate(225deg);
          margin-left: 20px;
          margin-top: 30px;
        }
      }
    }
  }
  .second-benefit {
    display: flex;
    flex-direction: column;
    .left-side-second-image {
      width: 170px;
      height: 140px;
      margin-top: 10px;
    }
    .second-benefit-circle {
      margin-left: 90px;
      width: 130px;
      height: 130px;
      position: relative;
      border-radius: 50%;
      background-color: $color-primary;
    }
    .right-side-second {
      h2 {
        margin-top: 40px;
      }
      p {
        line-height: 20px;
        margin-top: 30px;
      }
    }
  }
  .third-benefit {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    .left-side-third {
      margin: 0 15px;
      h2 {
        margin-top: 30px;
      }
      p {
        line-height: 20px;
        margin-top: 30px;
      }
    }
    .right-side-third {
      .right-side-third-image {
        margin-top: 20px;
        height: 80%;
        width: 100%;
        border-radius: 5px;
        background-color: $color-green;
        .right-side-third-picture {
          margin-top: 30px;
        }
      }
    }
  }
  main {
    margin-bottom: 120px;
  }
}

.right-side-first-picture, .left-side-second-picture, .right-side-third-picture {
  width: 100%;
  height: 100%;
}
// upper end



@media (max-width: $mobile) {
  .pricing-offers {
    display: flex;
    flex-direction: column;
  }
  .basic, .premium, .professional {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    .offer-options {
      ul {
        margin: 20px 0;
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
  .professional {
  .offer-options {
    ul {
      margin: 40px 0;
    }
  }
  }
  .basic, .premium {
    margin: 30px;
  }
  .professional {
    margin: 30px 10px 0;
  }
  .basic-left, .professional-left, .premium-left {
    text-align: center;
  }
  .basic-left {
    width: 25%;
  }
}

.pricing-title {
  font-family: $raleway-font;
  font-size: 36px;
}


.basic, .premium, .professional {
  border: 1px solid $color-redish;
    h3 {
    font-family: $raleway-font;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
   }
   span {
    font-family: $open-sans-font;
    font-size: 40px;
   }
}
.professional, .premium {
  .limited {
    font-family: $raleway-font;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
  }
}
.basic:after, .premium:after, .professional:after{
  content: "Begin";
  width: 150px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  background-color: $color-redish;
  @include center;
  color: $color-white;
  font-family: $open-sans-font;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  top: 205px;
}
.professional:after {
  top: 245px;
}









.pricing-offers {
  .row {
    .basic {
      span {
       color: $color-redish;
      }
    }
    .professional {
      span {
        color: $color-primary;
      }
    }
    .premium {
      span {
        color: $color-green;
      }
    }
    .basic, .professional, .premium {
      .offer-options {
        ul {
          li {
            position: relative;
          }
          li:before {
            content: "";
            width: 11px;
            height: 11px;
            display: inline-block;
            margin-right: 10px;
            background-image: url("/assets/Checkmark-1.svg");
          }
          .not:before {
            content: "";
            width: 11px;
            height: 11px;
            display: inline-block;
            margin-right: 10px;
            background-image: url("/assets/Close.svg");
          }
        }
      }
    }
  }
}








