

main {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
}
.benefits-container {
  width: 80%;
  flex-direction: column;
  margin-top: 37px;
}
.first-benefit, .second-benefit, .third-benefit{
  padding-top: 91px;
  padding-bottom: 91px;
  padding-left: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-benefit, .third-benefit{
  height: 373px;
  margin-bottom: 5px;
}
.left-side-first, .right-side-second, .left-side-third{
  display: flex;
  flex-direction: column;
}
.right-side-second {
  margin-left: 350px;
}
.left-side-first p, .right-side-second p, .left-side-third p{
  width: 430px;
  line-height: 25px;
}
.left-side-first h2, .right-side-second h2, .left-side-third h2{
  margin-bottom: 20px;
}
.right-side-second h2 {
  width: 50%;
}
.benefits-horizontal {
  width: 50%;
  height: 4px;
  background-color: $color-redish;
  margin-top: 50px;
}
.right-side-first, .left-side-first, .right-side-second, .left-side-second  {
  width: 50%;
}
.right-side-first, .left-side-second{
  position: relative;
}
.right-side-first-image {
  width: 386px;
  height: 219px;
  transform: rotate(225deg);
  margin-left: 20px;
  margin-top: 30px;
}
.right-side-first-picture, .left-side-second-picture, .right-side-third-picture{
  width: 100%;
  height: 100%;
}
.first-benefit-square{
  width: 220px;
  height: 220px;
  background-color: $color-redish;
  position: absolute;
  border-radius: 50px;
  transform: rotate(135deg);
  margin-left: 200px;
}
.left-side-second-image {
  width: 410px;
  height: 340px;
  margin-top: 10px;
}
.second-benefit-circle {
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  background-color: $color-primary;
  margin-left: 50px;
  margin-top: -170px;
}
.horizontal-second {
  width: 70%;
  background-color: $color-primary;
}
.third-benefit {
  background-color: $color-light-gray;
}
.third-benefit {
  margin: 0 0 105px 0;
  padding: 0;
}
.left-side-third {
  height: 370px;
  width: 60%;
}
.right-side-third {
  background-color: $color-green;
  height: 370px;
  width: 40%;
}
.left-side-third h2{
  width: 450px;
  padding-top: 70px;
  padding-left: 37px;
}
.left-side-third p {
  width: 600px;
  padding-left: 37px;
}
.horizontal-third {
  margin-left: 37px;
  background-color: $color-green;
  width: 50%;
}
.empty-third {
  height: 100%;
  background-color: $color-gray;
  width: 60px;
}
.right-side-third-image {
  margin-top: 50px;
  width: 60%;
  height: 60%;
}

//finished upper benefits section












.pricing .container {
  margin-top: 100px;
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;

}
.offers {
  text-align: center;
  width: 100%;
  justify-content: space-between;
}
.basic, .professional, .premium{
  width: 370px;
  height: 460px;
  border: 2px solid $color-redish;
  border-radius: 30px;
  flex-direction: column;
}
.basic-header, .professional-header, .premium-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 14px;
}
.professional {
  border-color: $color-primary;
  width: 400px;
  height: 500px;
  box-shadow: inset 0 0 5px 5px var(--color-primary-shadow), 0 0 5px 5px var(--color-primary-shadow);
}
.premium {
  border-color: $color-green;
}
h3 {
  margin-top: 30px;
  font-family: $raleway-font;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
}
.offers span {
  font: normal normal 300 46px $open-sans-font;
}
.offers p {
  font: normal normal normal 14px $open-sans-font;
}
.basic span {
  color: $color-redish;
}
.offers-empty {
  width: 100%;
  height: 24px;
}
.professional span {
  color: $color-primary;
}
.premium span {
  color: $color-green;
}
.professional .offer-options {
  margin-top: 70px;
}
.limited p{
  font: normal normal bold 12px var$raleway-font;
  margin-top: 10px;
}
.offer-options {
  font: normal normal normal 14px $open-sans-font;
  margin-top: 50px;
}
.offer-options li{
  margin-bottom: 20px;
}
.professional .offer-options li {
  margin-bottom: 25px;
}
.basic .offer-options{
  margin-top: 50px;
}
.offer-options ul li {
  position: relative;
}
.offer-options ul li:before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("/assets/Checkmark-1.svg");
}
.offer-options ul .not:before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("/assets/Close.svg");
}
.basic-button, .professional-button, .premium-button {
  width: 150px;
  height: 50px;
  background-color: $color-redish;
  border-radius: 30px;
  text-decoration: none;
  font: normal normal bold 13px $open-sans-font;
  color: $color-white;
  position: relative;
  bottom: -25px;
}
.professional-button {
  background-color: $color-primary;
  width: 165px;
  height: 50px;
}
.premium-button {
  background-color: $color-green;
}