
//formularz
.calc {
  @include center;
  .calc-container {
    @include center;
    flex-direction: column;
  }
  .calc__columns {
    width: 100%;
  }
}

//lewa strona
.calc__input {
  input {
    margin-bottom: 20px;
  }
}

#products, #orders, .calc__select {
  font-family: $open-sans-font;
  color: $color-gray;
  padding-left: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 5px;
}
input[type=number]::-webkit-inner-spin-button{
  cursor: pointer;
  background-color: red;
}
#products::placeholder, #orders::placeholder {
  font-family: $open-sans-font;
  color: $color-gray;
}
#products:focus, #orders:focus {
  border: 3px solid $color-primary;
}
.calc__select {
  @include center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  background-color: $color-white;
  ul {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid $color-redish;
    position: absolute;
    top: 59px;
    left: 0;
    visibility: hidden;
    background-color: $color-white;
    @include center;
    flex-direction: column;
    align-items: flex-start;
    li {
      padding: 5px 0 5px 20px;
      color: $color-black;
      cursor: pointer;
    }
  }
}
.calc__select {
  position: relative;
  .select-up, .select-down {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 6px;
    right: 10px;
  }
}
.select-up {
  display: none;
}
.select-down:before {
  content: "\f0ab";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  color: $color-primary;
  display: block;
}
.select-up:after {
  content: "\f0aa";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  color: $color-primary;
  display: block; //góra schowany
}


//checkboxy

.calc__form {
  label, input[type="checkbox"] + span {
    font-family: $open-sans-font;
    font-size: 15px;
    color: $color-primary;
    font-weight: bold;
    letter-spacing: 1px;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox {
    cursor: pointer;
    display: flex;
    color: $color-gray;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .checkbox span {
    height: 20px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid $color-gray;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 1px;
  }
  .checkbox input:checked + span {
    background-image: url("/assets/Checkmark.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

//prawa strona
.calc__summary {
  position: relative;
  #summary-list {
    li {
      height: 40px;
      border-radius: 5px;
      margin-bottom: 5px;
      background-color: $color-green;
      div {
        @include center;
        justify-content: space-around;
        align-items: center;
        span {
          margin-top: 12px;
        }
      }
    }
    li[data-id="accounting"], li[data-id="terminal"] {
      div {
        span:first-child {
          padding-left: 52px;
        }
        span:last-child {
          padding-right: 52px;
        }
        justify-content: space-between;
      }
    }
  }
}
.summary__total {
  @include center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: $color-primary;
  border-radius: 5px;
  margin-right: 15px;
  span:first-child {
    padding-right: 80px;
  }
}