.contact {
  background-color: $color-white;
  .container {
    margin-top: 50px;
  }
}
.contact-question {
  h3 {
    font-size: 40px;
    font-family: $raleway-font;
  }
  p {
    margin-top: 10px;
    font-family: $open-sans-font;
  }
  ul {
    margin-top: 20px;
    li {
      position: relative;
      margin-left: 40px;
      padding: 10px 0;
    }
    li:before {
        content: "";
        width: 27px;
        height: 27px;
        background-image: url("/assets/Mail Icon.svg");
        position: absolute;
        display: inline-block;
        left: -40px;
        top: 5px;
        cursor: pointer;
    }
    .phone:before {
        background-image: url("/assets/Phone Icon.svg");
    }
  }
}

.contact-form {
  form {
    .contact-name, .contact-email{
      text-transform: uppercase;
    }
    input {
      width: 100%;
      background-color: transparent;
      border: transparent;
      border-bottom: 1px solid $color-gray;
      margin-bottom: 10px;
      margin-top: 10px;
      line-height: 40px;
    }
    label, input[type="checkbox"] + span {
      font-family: $open-sans-font;
      font-size: 15px;
      color: $color-primary;
      font-weight: bold;
      letter-spacing: 3.28px;
    }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkbox {
      cursor: pointer;
      display: flex;
      color: $color-gray;
      font-size: 12px;
      margin-bottom: 20px;
    }
    .checkbox span {
      height: 24px;
      flex-shrink: 0;
      flex-basis: 24px;
      border: 1px solid $color-gray;
      cursor: pointer;
      border-radius: 3px;
      margin-right: 11px;
    }
    .checkbox input:checked + span {
      background-image: url("/assets/Checkmark.svg");
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
    }
    .send-button {
      display: flex;
      justify-content: flex-end;
      button {
        width: 226px;
        height: 57px;
        border-radius: 50px;
        background-color: $color-primary;
        border: none;
        font: normal normal bold 13px $open-sans-font;
        color: $color-white;
      }
    }
  }
}


@media (min-width: $mobile) {
  .contact-question {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 120px !important;
  }
}




